<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">


    <http auto-config="true">
        <csrf disabled="true"/>
        <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/registerFaculty" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/faculty" access="hasAnyRole('ROLE_FACULTY','ROLE_ADMIN')"/>
        <intercept-url pattern="/student" access="hasAnyRole('ROLE_STUDENT','ROLE_ADMIN','ROLE_FACULTY')"/>


        <form-login login-page="/signIn"
                    authentication-failure-url="/loginFail"
                    authentication-success-handler-ref="customSuccessHandler"
                    login-processing-url="/login"
                    username-parameter="id"
                    password-parameter="password"/>


        <logout logout-url="/signOut" logout-success-url="/logOut"
                invalidate-session="true"/>


    </http>


    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt"/>
            <jdbc-user-service data-source-ref="driverManagerDataSource"
                               users-by-username-query="select id,concat(password),1 from admin where id=?"
                               authorities-by-username-query="select id,role from admin where id=?"/>
        </authentication-provider>
    </authentication-manager>

    <beans:import resource="spring-servlet.xml"/>
    <beans:bean class="college.handler.CustomSuccessHandler" name="customSuccessHandler"/>


</beans:beans>
